@import "~@/styles/variables.scss";
@import "~@/styles/mixins/mixins.scss";


@include b(layout) {

  display: flex;
  flex-direction: column;
  height: 100vh;
  @include e(header) {
  }
  @include e(ship) {
    flex: 1;
    overflow: auto;
    display: flex;
  }

  @include e(sidebar) {
  }

  @include e(navigation-bar){
    width: 100%;
  }

  @include e(cabin){
    width: 100%;
  }
}
