@import "~@/styles/variables.scss";
@import "~@/styles/mixins/mixins.scss";

@include b(app-sidebar-item){

  @include e(item){
    background-color: #324157 !important;
  }

  @include e(title) {
    display: flex;
    align-items: center;
  }

  @include e(icon){
    height: 16px !important;
    width: 16px !important;
    margin-right: 4px;
  }

}
