@import "~@/styles/variables.scss";
@import "~@/styles/mixins/mixins.scss";


@include b(app-operation) {

  @include e(account){
    height: 20px !important;
    width: 20px !important;
    cursor: pointer;
  }
}
